In [15]:
import pandas as pd

# Cargar los archivos CSV
df_gdia_2024 = pd.read_csv('grados_dia_bcn2024.csv', header=0, delimiter= ";")

# Mostrar el DataFrame combinado
df_gdia_2024.head(10)

        fecha calefaccion refrigeracion
0  01/01/2024        10,3             0
1  02/01/2024         8,7             0
2  03/01/2024         4,7             0
3  04/01/2024         7,1             0
4  05/01/2024         7,8             0
5  06/01/2024         8,9             0
6  07/01/2024         9,3             0
7  08/01/2024        11,1             0
8  09/01/2024        12,4             0
9  10/01/2024          12             0

In [16]:
df_gdia_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fecha          366 non-null    object
 1   calefaccion    366 non-null    object
 2   refrigeracion  366 non-null    object
dtypes: object(3)
memory usage: 8.7+ KB

Cambio el formato de la fecha para que sea compatible con las tablas existentes de `temperatura` y `consumo`

In [17]:
from datetime import datetime

df_gdia_2024['fecha']= df_gdia_2024['fecha'].apply(lambda x: datetime.strptime(x, "%d/%m/%Y"))

df_gdia_2024['fecha']= df_gdia_2024['fecha'].apply(lambda x: x.strftime("%Y-%m-%d"))

df_gdia_2024['fecha']= pd.to_datetime(df_gdia_2024['fecha'], format='%Y-%m-%d')

df_gdia_2024.head()

       fecha calefaccion refrigeracion
0 2024-01-01        10,3             0
1 2024-01-02         8,7             0
2 2024-01-03         4,7             0
3 2024-01-04         7,1             0
4 2024-01-05         7,8             0

Realizaré el cambio de formato de las columnas `calefaccion` y `refrigeracion` de object a float

In [20]:
columnas_a_float = ['calefaccion', 'refrigeracion']

# Reemplazo las comas por puntos para que pueda realizarse el cambio al tipo float
for col in columnas_a_float:
    df_gdia_2024[col] = df_gdia_2024[col].str.replace(',', '.')  

df_gdia_2024[columnas_a_float] = df_gdia_2024[columnas_a_float].astype(float)

df_gdia_2024.head()

       fecha  calefaccion  refrigeracion
0 2024-01-01         10.3            0.0
1 2024-01-02          8.7            0.0
2 2024-01-03          4.7            0.0
3 2024-01-04          7.1            0.0
4 2024-01-05          7.8            0.0

Confirmo que los datos están en el formato correcto

In [21]:
df_gdia_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fecha          366 non-null    datetime64[ns]
 1   calefaccion    366 non-null    float64
 2   refrigeracion  366 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 8.7 KB

Guardo el dataframe en formato csv

In [22]:
df_gdia_2024.to_csv('gdia_bcn_2024.csv', index= False)