Cargo los datos sobre temperaturas durante el año 2024 de Barcelona desde la estación de Drassanes que tiene un criterio de temperatura a nivel ciudad, aunque en el caso de los datos existentes en este año esta estación no contiene los relacionados con la velocidad media del viento, por lo que busco la estación más cercana a Drassanes que si los contenga y encuentro la del Observatorio Fabra.

In [1]:
import pandas as pd

# Cargo los archivos CSV
df_temp_2025 = pd.read_csv('temp_072025.csv')
#df2 = pd.read_csv('temp_072024_122024.csv')
df3 = pd.read_csv('temp_072025_PO.csv')
#df4 = pd.read_csv('fabra2.csv')

# Concateno los DataFrames por filas
#df_temp_2025 = pd.concat([df1, df2], axis=0, ignore_index=True)
#df_B = pd.concat([df3, df4], axis=0, ignore_index=True)

df_temp_2025.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin
0,2025-07-01,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"28,7","0,2","25,7",05:42,"31,7",11:14,61.0,74,16:50,32,20:40
1,2025-07-02,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"28,6","0,0","24,6",05:25,"32,5",15:16,58.0,82,22:50,37,Varias
2,2025-07-03,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"28,8","0,0","26,0",05:31,"31,5",14:49,64.0,81,00:00,41,17:20
3,2025-07-04,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"28,6","0,0","25,4",05:20,"31,8",14:35,58.0,68,12:50,42,19:40
4,2025-07-05,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"28,7","0,0","25,2",05:22,"32,2",15:29,58.0,68,23:59,45,09:30

El dataframe A está compuesto por 39 filas y 16 columnas

In [2]:
df_temp_2025.shape

(31, 16)

Hay columnas que no contemplo utilizar por lo que decido eliminarlas para aligerar el dataframe.

In [3]:
df_temp_2025= df_temp_2025.drop(columns=['indicativo', 'nombre','altitud', 'horatmin', 'horatmax', 'hrMax', 'hrMin', 'horaHrMin', 'horaHrMax'])

df_temp_2025.head()

        fecha  provincia  tmed prec  tmin  tmax  hrMedia
0  2025-07-01  BARCELONA  28,7  0,2  25,7  31,7     61.0
1  2025-07-02  BARCELONA  28,6  0,0  24,6  32,5     58.0
2  2025-07-03  BARCELONA  28,8  0,0  26,0  31,5     64.0
3  2025-07-04  BARCELONA  28,6  0,0  25,4  31,8     58.0
4  2025-07-05  BARCELONA  28,7  0,0  25,2  32,2     58.0

El dataframe con los datos de viento del Observatorio Fabra contiene 181 filas y 21 columnas.

In [4]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fecha       31 non-null     object
 1   indicativo  31 non-null     object
 2   nombre      31 non-null     object
 3   provincia   31 non-null     object
 4   altitud     31 non-null     int64
 5   tmed        31 non-null     object
 6   prec        31 non-null     object
 7   tmin        31 non-null     object
 8   horatmin    31 non-null     object
 9   tmax        31 non-null     object
 10  horatmax    31 non-null     object
 11  dir         31 non-null     int64
 12  velmedia    31 non-null     object
 13  racha       31 non-null     object
 14  horaracha   31 non-null     object
 15  hrMedia     31 non-null     int64
 16  hrMax       31 non-null     int64
 17  horaHrMax   31 non-null     object
 18  hrMin       31 non-null     int64
 19  horaHrMin   31 non-null     object
dtypes: int64(5), object(15)
memory usage: 5.0+ KB

Observo el detalle de las columnas existentes.

In [5]:
df3.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin
0,2025-07-01,0201D,"BARCELONA, PORT OLÍMPIC",BARCELONA,26,"29,0","0,0","26,3",00:50,"31,7",09:20,34,"3,3","7,5",20:10,75,92,18:30,38,23:00
1,2025-07-02,0201D,"BARCELONA, PORT OLÍMPIC",BARCELONA,26,"28,5","0,0","25,5",04:30,"31,5",15:10,9,"1,9","5,0",11:20,69,92,Varias,44,07:40
2,2025-07-03,0201D,"BARCELONA, PORT OLÍMPIC",BARCELONA,26,"28,0","0,0","25,7",01:30,"30,4",16:00,22,"2,8","10,3",14:00,71,92,Varias,48,Varias
3,2025-07-04,0201D,"BARCELONA, PORT OLÍMPIC",BARCELONA,26,"28,0","0,0","25,4",04:00,"30,7",09:30,22,"3,3","8,3",16:40,72,88,13:40,51,19:40
4,2025-07-05,0201D,"BARCELONA, PORT OLÍMPIC",BARCELONA,26,"28,8","0,0","25,7",04:30,"31,9",10:30,10,"2,8","7,2",17:30,70,85,16:30,52,07:30

Elimino la mayoría de las columnas, manteniendo únicamente la velocidad del viento, lal cual agregaré al primer dataframe.

In [6]:
df3= df3.drop(columns=['fecha', 'provincia', 'indicativo', 'nombre', 'altitud', 'tmed', 'prec', 'tmin','horatmin', 'tmax', 'horatmax', 'dir', 'racha', 'horaracha', 'hrMedia', 'hrMax', 'horaHrMax', 'hrMin', 'horaHrMin'])

df3.head()

  velmedia
0      3,3
1      1,9
2      2,8
3      3,3
4      2,8

In [7]:
df_temp_2025['velmedia']= df3['velmedia']
df_temp_2025.head()

        fecha  provincia  tmed prec  tmin  tmax  hrMedia velmedia
0  2025-07-01  BARCELONA  28,7  0,2  25,7  31,7     61.0      3,3
1  2025-07-02  BARCELONA  28,6  0,0  24,6  32,5     58.0      1,9
2  2025-07-03  BARCELONA  28,8  0,0  26,0  31,5     64.0      2,8
3  2025-07-04  BARCELONA  28,6  0,0  25,4  31,8     58.0      3,3
4  2025-07-05  BARCELONA  28,7  0,0  25,2  32,2     58.0      2,8

Reviso las características de cada columna, observo varios detalles sobre ellas que considero tratar:

* `fecha` es del tipo `object` y el formato debería ser `datetime`
* Hay varias columas que aparecen como tipo `object` al utiizar una coma como decimal y las transformaré como float con punto.

In [8]:
df_temp_2025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fecha      31 non-null     object
 1   provincia  31 non-null     object
 2   tmed       31 non-null     object
 3   prec       31 non-null     object
 4   tmin       31 non-null     object
 5   tmax       31 non-null     object
 6   hrMedia    30 non-null     float64
 7   velmedia   31 non-null     object
dtypes: float64(1), object(7)
memory usage: 2.1+ KB

Realizo la transformación de la columna `fecha` al tipo `datetime`

In [9]:
df_temp_2025['fecha']= pd.to_datetime(df_temp_2025['fecha'], format='%Y-%m-%d')
print(df_temp_2025.dtypes)

fecha        datetime64[ns]
provincia            object
tmed                 object
prec                 object
tmin                 object
tmax                 object
hrMedia             float64
velmedia             object
dtype: object

Transformo las columnas 'tmed', 'prec', 'tmin', 'tmax' al tipo float, modificando el símbolo de coma por punto.

In [10]:
columnas_a_float = ['tmed', 'prec', 'tmin', 'tmax', 'velmedia']

# Reemplazo las comas por puntos para que pueda realizarse el cambio al tipo float
for col in columnas_a_float:
    df_temp_2025[col] = df_temp_2025[col].str.replace(',', '.')  

df_temp_2025[columnas_a_float] = df_temp_2025[columnas_a_float].astype(float)

print(df_temp_2025.dtypes)

fecha        datetime64[ns]
provincia            object
tmed                float64
prec                float64
tmin                float64
tmax                float64
hrMedia             float64
velmedia            float64
dtype: object

Compruebo la existencia de valores nulos

In [11]:
#df_temp_2025.head()
df_temp_2025.isnull().sum()

fecha        0
provincia    0
tmed         0
prec         0
tmin         0
tmax         0
hrMedia      1
velmedia     0
dtype: int64

Analizo los valores nulos de la variable `tmed`; observo que aparecen varias columnas en ese registro con valores faltantes.

In [12]:
nulos_hrmed = df_temp_2025['hrMedia'].isnull()
df_temp_2025[nulos_hrmed]

       fecha  provincia  tmed  prec  tmin  tmax  hrMedia  velmedia
9 2025-07-10  BARCELONA  26.4   0.0  24.4  28.5      NaN       3.6

La idea de la imputación en este caso es mantener la continuidad de la serie. Imputo los valores faltantes utilizando una función, que en caso de que encuentre un valor nulo en una columna, buscará el valor correspondiente en la fila anterior (día anterior). Si el valor anterior existe, se utiliza para reemplazar el valor nulo.

In [13]:
# Ordeno el DataFrame por fecha para asegurar la correcta imputación
df_temp_2025 = df_temp_2025.sort_values('fecha')

# Selecciono las columnas a imputar 
columnas_a_imputar = ['hrMedia']

# Se itera sobre las filas y las columnas a imputar
for index, row in df_temp_2025.iterrows():
    for columna in columnas_a_imputar:
        if pd.isna(row[columna]):
            # Buscar el valor del día anterior en la misma columna
            valor_anterior = df_temp_2025.loc[index - 1, columna]
            # Imputar si el valor anterior existe
            if not pd.isna(valor_anterior):
                df_temp_2025.loc[index, columna] = valor_anterior

Compruebo que los valores ha sido imputados totalmente.

In [14]:
df_temp_2025.isnull().sum()

fecha        0
provincia    0
tmed         0
prec         0
tmin         0
tmax         0
hrMedia      0
velmedia     0
dtype: int64

- Renombro las columna `provincia` por `ciudad`.

In [15]:
df_temp_2025= df_temp_2025.rename(columns={'provincia': 'ciudad', 'hrMedia': 'hrmedia'})
df_temp_2025= df_temp_2025[['fecha', 'ciudad', 'tmin', 'tmax', 'tmed', 'prec','hrmedia', 'velmedia']]
df_temp_2025.head()

       fecha     ciudad  tmin  tmax  tmed  prec  hrmedia  velmedia
0 2025-07-01  BARCELONA  25.7  31.7  28.7   0.2     61.0       3.3
1 2025-07-02  BARCELONA  24.6  32.5  28.6   0.0     58.0       1.9
2 2025-07-03  BARCELONA  26.0  31.5  28.8   0.0     64.0       2.8
3 2025-07-04  BARCELONA  25.4  31.8  28.6   0.0     58.0       3.3
4 2025-07-05  BARCELONA  25.2  32.2  28.7   0.0     58.0       2.8

Codifico la columna `ciudad` utilizando el valor `1` para poder relacionarlo en la base de datos con la tabla que corresponda a las ciudades

In [16]:
mapeo_ciudad= {"BARCELONA": "1"}

df_temp_2025['ciudad']= df_temp_2025['ciudad'].map(mapeo_ciudad)
df_temp_2025.head()

       fecha ciudad  tmin  tmax  tmed  prec  hrmedia  velmedia
0 2025-07-01      1  25.7  31.7  28.7   0.2     61.0       3.3
1 2025-07-02      1  24.6  32.5  28.6   0.0     58.0       1.9
2 2025-07-03      1  26.0  31.5  28.8   0.0     64.0       2.8
3 2025-07-04      1  25.4  31.8  28.6   0.0     58.0       3.3
4 2025-07-05      1  25.2  32.2  28.7   0.0     58.0       2.8

Exporto el dataframe a un archivo en formato `csv`

In [17]:
df_temp_2025.to_csv('temp_bcn_2025_07.csv', index= False, encoding='utf-8')

Resumen del dataframe creado:

- Se eliminaron las columnas 'indicativo', 'nombre', 'hrMax', 'horaHrMax', 'hrMin', 'horaHrMin', 'altitud', 'dir', 'racha', 'horaracha', 'horatmin', 'horatmax'.
- Se obtuvo el valor de velocidad media desde dos csv de otra estación de la ciudad que se agregó al dataframe 
- Se realizaron transformaciones de tipo en las columnas 'tmed', 'prec', 'tmin', 'tmax', 'velmedia'.
- Se transformó la columna 'fecha' a tipo datetime
- Se trataron los valores nulos mediante la imputación del registro del día anterior al faltante, buscando mantener la continuidad de la serie. No hay valores faltantes.
- Se renombró la columna 'provincia' por 'ciudad' y se asignó el valor 1 para que sea utilizado en un modelo de tablas relaciones como identificador(id).
- Se exporto el dataframe a un archivo en formato csv.