Cargo los datos sobre temperaturas durante el año 2019 de Barcelona desde la estación de Drassanes que tiene un criterio de temperatura a nivel ciudad.

In [1]:
import pandas as pd

# Cargo los archivos CSV
df1 = pd.read_csv('temp_012019_062019.csv')
df2 = pd.read_csv('temp_072019_122019.csv')

# Concateno los DataFrames por filas
df_temp_2019 = pd.concat([df1, df2], axis=0, ignore_index=True)

df_temp_2019.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin
0,2019-01-01,0201D,"BARCELONA, PORT OL?MPIC",BARCELONA,26,"11,4","0,0","6,6",03:40,"16,2",12:30,1.0,"3,1","6,4",07:30,76.0,90.0,20:00,59.0,22:30
1,2019-01-02,0201D,"BARCELONA, PORT OL?MPIC",BARCELONA,26,"11,2","0,0","6,6",Varias,"15,7",14:50,1.0,"2,2","6,9",06:10,52.0,66.0,Varias,40.0,14:40
2,2019-01-03,0201D,"BARCELONA, PORT OL?MPIC",BARCELONA,26,"9,2","0,0","5,0",07:50,"13,5",15:00,36.0,"3,3","6,1",06:20,64.0,67.0,Varias,55.0,13:50
3,2019-01-04,0201D,"BARCELONA, PORT OL?MPIC",BARCELONA,26,"8,4","0,0","4,3",06:00,"12,6",11:50,35.0,"2,8","6,4",06:20,65.0,75.0,03:00,54.0,13:20
4,2019-01-05,0201D,"BARCELONA, PORT OL?MPIC",BARCELONA,26,"11,4","0,0","6,6",07:30,"16,3",14:20,26.0,"1,9","5,0",06:50,50.0,76.0,Varias,39.0,16:30

El dataframe está compuesto por 365 filas y 20 columnas

In [2]:
df_temp_2019.shape

(365, 20)

Hay columnas que no contemplo utilizar por lo que decido eliminarlas para aligerar el dataframe.

In [3]:
df_temp_2019= df_temp_2019.drop(columns=['indicativo', 'nombre', 'hrMax', 'horaHrMax', 'hrMin', 'horaHrMin', 'altitud', 'dir', 'racha', 'horaracha', 'horatmin', 'horatmax'])

df_temp_2019.head()

        fecha  provincia  tmed prec tmin  tmax velmedia  hrMedia
0  2019-01-01  BARCELONA  11,4  0,0  6,6  16,2      3,1     76.0
1  2019-01-02  BARCELONA  11,2  0,0  6,6  15,7      2,2     52.0
2  2019-01-03  BARCELONA   9,2  0,0  5,0  13,5      3,3     64.0
3  2019-01-04  BARCELONA   8,4  0,0  4,3  12,6      2,8     65.0
4  2019-01-05  BARCELONA  11,4  0,0  6,6  16,3      1,9     50.0

Reviso las características de cada columna, observo varios detalles sobre ellas que considero tratar:

* `fecha` es del tipo `object` y el formato debería ser `datetime`
* Hay varias columas que aparecen como tipo `object` al utiizar una coma como decimal y las transformaré como float con punto.

In [4]:
df_temp_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fecha      365 non-null    object
 1   provincia  365 non-null    object
 2   tmed       360 non-null    object
 3   prec       365 non-null    object
 4   tmin       360 non-null    object
 5   tmax       360 non-null    object
 6   velmedia   364 non-null    object
 7   hrMedia    358 non-null    float64
dtypes: float64(1), object(7)
memory usage: 22.9+ KB

Realizo la transformación de la columna `fecha` al tipo `datetime`

In [5]:
df_temp_2019['fecha']= pd.to_datetime(df_temp_2019['fecha'], format='%Y-%m-%d')
print(df_temp_2019.dtypes)

fecha        datetime64[ns]
provincia            object
tmed                 object
prec                 object
tmin                 object
tmax                 object
velmedia             object
hrMedia             float64
dtype: object

Transformo las columnas 'tmed', 'prec', 'tmin', 'tmax' al tipo float, modificando el símbolo de coma por punto.

In [6]:
columnas_a_float = ['tmed', 'prec', 'tmin', 'tmax', 'velmedia']

# Reemplazo las comas por puntos para que pueda realizarse el cambio al tipo float
for col in columnas_a_float:
    df_temp_2019[col] = df_temp_2019[col].str.replace(',', '.')  

df_temp_2019[columnas_a_float] = df_temp_2019[columnas_a_float].astype(float)

print(df_temp_2019.dtypes)

fecha        datetime64[ns]
provincia            object
tmed                float64
prec                float64
tmin                float64
tmax                float64
velmedia            float64
hrMedia             float64
dtype: object

In [7]:
df_temp_2019.isnull().sum()

fecha        0
provincia    0
tmed         5
prec         0
tmin         5
tmax         5
velmedia     1
hrMedia      7
dtype: int64

Analizo los valores nulos de la variable `tmed`; observo que aparecen varias columnas en ese registros con valores faltantes.

In [8]:
nulos_tmed = df_temp_2019['tmed'].isnull()
df_temp_2019[nulos_tmed]

         fecha  provincia  tmed  prec  tmin  tmax  velmedia  hrMedia
81  2019-03-23  BARCELONA   NaN   0.0   NaN   NaN       3.3      NaN
146 2019-05-27  BARCELONA   NaN   0.0   NaN   NaN       4.2     74.0
166 2019-06-16  BARCELONA   NaN   0.0   NaN   NaN       4.4      NaN
291 2019-10-19  BARCELONA   NaN   0.1   NaN   NaN       3.3      NaN
292 2019-10-20  BARCELONA   NaN   0.0   NaN   NaN       5.0      NaN

La idea de la imputación en este caso es mantener la continuidad de la serie. Imputo los valores faltantes utilizando una función, que en caso de que encuentre un valor nulo en una columna, buscará el valor correspondiente en la fila anterior (día anterior). Si el valor anterior existe, se utiliza para reemplazar el valor nulo.

In [9]:
# Ordeno el DataFrame por fecha para asegurar la correcta imputación
df_temp_2019 = df_temp_2019.sort_values('fecha')

# Selecciono las columnas a imputar 
columnas_a_imputar = ['tmed', 'tmin', 'tmax', 'velmedia', 'hrMedia']

# Se itera sobre las filas y las columnas a imputar
for index, row in df_temp_2019.iterrows():
    for columna in columnas_a_imputar:
        if pd.isna(row[columna]):
            # Buscar el valor del día anterior en la misma columna
            valor_anterior = df_temp_2019.loc[index - 1, columna]
            # Imputar si el valor anterior existe
            if not pd.isna(valor_anterior):
                df_temp_2019.loc[index, columna] = valor_anterior

Compruebo que los valores ha sido imputados totalmente.

In [10]:
df_temp_2019.isnull().sum()

fecha        0
provincia    0
tmed         0
prec         0
tmin         0
tmax         0
velmedia     0
hrMedia      0
dtype: int64

- Renombro las columna `provincia` por `ciudad`.

In [11]:
df_temp_2019= df_temp_2019.rename(columns={'provincia': 'ciudad', 'hrMedia': 'hrmedia'})
df_temp_2019= df_temp_2019[['fecha', 'ciudad', 'tmin', 'tmax', 'tmed', 'prec','hrmedia', 'velmedia']]
df_temp_2019.head()

       fecha     ciudad  tmin  tmax  tmed  prec  hrmedia  velmedia
0 2019-01-01  BARCELONA   6.6  16.2  11.4   0.0     76.0       3.1
1 2019-01-02  BARCELONA   6.6  15.7  11.2   0.0     52.0       2.2
2 2019-01-03  BARCELONA   5.0  13.5   9.2   0.0     64.0       3.3
3 2019-01-04  BARCELONA   4.3  12.6   8.4   0.0     65.0       2.8
4 2019-01-05  BARCELONA   6.6  16.3  11.4   0.0     50.0       1.9

Codifico la columna `ciudad` utilizando el valor `1` para poder relacionarlo en la base de datos con la tabla que corresponda a las ciudades

In [12]:
mapeo_ciudad= {"BARCELONA": "1"}

df_temp_2019['ciudad']= df_temp_2019['ciudad'].map(mapeo_ciudad)
df_temp_2019.head()

       fecha ciudad  tmin  tmax  tmed  prec  hrmedia  velmedia
0 2019-01-01      1   6.6  16.2  11.4   0.0     76.0       3.1
1 2019-01-02      1   6.6  15.7  11.2   0.0     52.0       2.2
2 2019-01-03      1   5.0  13.5   9.2   0.0     64.0       3.3
3 2019-01-04      1   4.3  12.6   8.4   0.0     65.0       2.8
4 2019-01-05      1   6.6  16.3  11.4   0.0     50.0       1.9

Exporto el dataframe a un archivo en formato `csv`

In [13]:
df_temp_2019.to_csv('temp_bcn_2019.csv', index= False, encoding='utf-8')

Resumen del dataframe creado:

- Se eliminaron las columnas 'indicativo', 'nombre', 'hrMax', 'horaHrMax', 'hrMin', 'horaHrMin', 'altitud', 'dir', 'racha', 'horaracha', 'horatmin', 'horatmax'.
- Se realizaron transformaciones de tipo en las columnas 'tmed', 'prec', 'tmin', 'tmax', 'velmedia'.
- Se transformó la columna 'fecha' a tipo datetime
- Se trataron los valores nulos mediante la imputación del registro del día anterior al faltante, buscando mantener la continuidad de la serie. No hay valores faltantes.
- Se renombró la columna 'provincia' por 'ciudad' y se asignó el valor 1 para que sea utilizado en un modelo de tablas relaciones como identificador(id).
- Se exporto el dataframe a un archivo en formato csv.